/*CSS INFO Author: Emp Name, Start Date: , Last updated: ;*/
.ch_body{ position: absolute; bottom: 0; left: 310px; }
.hand_left_1{ position: absolute; left: 300px; top:188px; }
.hand_left_2{ position: absolute; left: 243px; top:322px; }
.hand_left_3{ position: absolute; left: 265px; top:347px; }
.hand_right_1{ position: absolute; right: 280px; top:191px; }
.hand_right_2{ position: absolute; right: 238px; top:322px; }
.hand_right_3{ position: absolute; right: 258px; top:347px; }


.hand_left_1 {    animation-name: leftone;    animation-duration: 8s;     transform-origin: bottom right;       animation-iteration-count: infinite; }
.hand_left_2 {    animation-name: leftone;    animation-duration: 5s;     transform-origin: bottom right;       animation-iteration-count: infinite; }
.hand_left_3 {    animation-name: leftone;    animation-duration: 10s;     transform-origin: bottom right;       animation-iteration-count: infinite; }
.hand_right_1 {    animation-name: leftone;    animation-duration: 10s;     transform-origin: bottom left;       animation-iteration-count: infinite; }
.hand_right_2 {    animation-name: leftone;    animation-duration: 6s;     transform-origin: bottom left;       animation-iteration-count: infinite; }
.hand_right_3 {    animation-name: leftone;    animation-duration: 8s;     transform-origin: bottom left;       animation-iteration-count: infinite; }
.enso{ position: absolute; left: 400px; top: 140px; width: 250px; height: auto;
animation-name: rotate;    animation-duration: 24s;        animation-iteration-count: infinite;}


@keyframes rotate {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}

    100% {-ms-transform: rotate(-360deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
    transform: rotate(-360deg);}
}

@keyframes leftone {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}
    50%  {-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);}
    100% {-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);}
}


.hbl{  }

.hbl .glow_ball{ width: 80px; height: 80px; position: absolute; right: -80px; bottom: -18px;  }
.hbr .glow_ball{ width: 80px; height: 80px; position: absolute; left: -80px; bottom: -18px;  }

.hbl p, .hbr p{ line-height: 1em; color: #fff; padding-top:8px;  padding-left: 12px; font-size: .9em; font-weight: 600; }
.hand_box_left1{  width: 130px; height: 45px;  position: absolute; left: 180px;top: 140px; cursor: pointer;
   border-radius: 8px;}
@keyframes updown1 {    0%   { left:180px; top: 140px; }    50% { left: 200px; top: 120px; }    100% { left:180px; top: 140px;}}

.hand_box_left2{  width: 130px; height: 45px;  position: absolute; left: 114px;top: 261px; cursor: pointer;
  border-radius: 8px;}
@keyframes updown2 {    0%   { left:114px; top: 267px; }    50% { left: 134px; top: 247px; }    100% { left:114px; top: 267px;}}

.hand_box_left3{  width: 130px; height: 45px;  position: absolute; left: 130px;top: 402px; cursor: pointer;
    border-radius: 8px;}
@keyframes updown3 {    0%   { left:130px; top: 402px; }    50% { left: 140px; top: 382px; }    100% { left:130px; top: 402px;}}

.hand_box_right1{  width: 130px; height: 45px;  position: absolute; right: 160px;top: 140px; cursor: pointer;
   border-radius: 8px;}
@keyframes updown4 {    0%   { right:160px; top: 140px; }    50% { right: 140px; top: 160px; }    100% { right:160px; top: 140px;}}

.hand_box_right2{  width: 130px; height: 45px;  position: absolute; right: 90px;top: 267px; cursor: pointer;
  border-radius: 8px;}
@keyframes updown5 {    0%   { right:90px; top:277px; }    50% { right: 80px; top: 297px; }    100% { right:90px; top: 277px;}}


.hand_box_right3{  width: 130px; height: 45px;  position: absolute; right: 105px;top: 407px; cursor: pointer;
   border-radius: 8px;}
@keyframes updown6 {    0%   { right:105px; top:407px; }    50% { right: 100px; top: 432px; }    100% { right:105px; top: 407px;}}


  .hand_box_left1{  animation-name: updown1;    animation-duration: 8s;      animation-iteration-count: infinite;  animation-timing-function: ease;}
    .hand_box_left2 {    animation-name: updown2;    animation-duration: 5s;       animation-iteration-count: infinite; animation-timing-function: ease;}
    .hand_box_left3 {    animation-name: updown3;    animation-duration: 10s;        animation-iteration-count: infinite; animation-timing-function: ease;}
    .hand_box_right1 {    animation-name: updown4;    animation-duration: 10s;           animation-iteration-count: infinite; animation-timing-function: ease;}
    .hand_box_right2 {    animation-name: updown5;    animation-duration: 6s;         animation-iteration-count: infinite; animation-timing-function: ease;}
   .hand_box_right3 {    animation-name: updown6;    animation-duration: 8s;         animation-iteration-count: infinite; animation-timing-function: ease;}


@media(min-width: 2000px){
.character{       transform: scale(1.4);    top: 130px; }
}


@media (max-width: 1600px) {
  .character{ top: -50px; }
}

@media (max-width: 1366px) {
      .character{ top: -120px; left: 30px; }
    /*Character*/
    .ch_body{ width: 380px; }
    /*hands*/
    .hand_right_2{ width: 210px;  right: 289px; top:351px; }
    .hand_right_3{ width: 190px;  right: 307px; top:374px; }
    .hand_right_1{ width: 166px;  right: 329px; top:235px; }

    .hand_left_3{ width: 190px;  left: 259px; top:374px; }
    .hand_left_2{ width: 212px;  left: 252px; top:349px; }
    .hand_left_1{ width: 160px;  left: 302px; top:244px; }
    /*ball*/
    .hbr .glow_ball {    width: 70px;    height: 70px;    position: absolute;    left: -63px;    bottom: -14px;}
    /*box*/
    .hand_box_right3{     right: 171px;    top: 446px; }
    .hand_box_right2{     right: 151px;    top: 338px; }
    .hand_box_right1{     right: 187px;    top: 226px; }

    .hand_box_left3{     left: 113px;    top: 426px; }
    .hand_box_left2{     left: 124px;    top: 315px; }
    .hand_box_left1{     left: 167px;    top: 216px; }
    .enso{left: 400px;      top: 194px;     width: 197px}



    @keyframes updown1 {    0%   { left:167px; top: 216px; }    50% { left: 185px; top: 200px; }    100% { left:167px; top: 216px;}}
   @keyframes updown2 {    0%   { left:124px; top: 315px; }    50% { left: 144px; top: 285px; }    100% { left:124px; top: 315px;}}
    @keyframes updown3 {    0%   { left:113px; top: 426px; }    50% { left: 130px; top: 400px; }    100% { left:113px; top: 426px;}}
    @keyframes updown4 {    0%   { right:207px; top: 216px; }    50% { right: 195px; top: 230px; }    100% { right:207px; top:216px;}}
   @keyframes updown5 {    0%   { right:171px; top:318px; }    50% { right: 155px; top: 335px; }    100% { right:171px; top: 318px;}}
     @keyframes updown6 {    0%   { right:171px; top:426px; }    50% { right: 166px; top: 446px; }    100% { right:171px; top: 426px;}}
}
@media (max-width: 1024px) {
 .character{  left: -20px; }
}

@media (max-width: 920px){

     .character{  left: -80px; }
}

@media (max-width: 768px) {

    .ch_body{ left: 244px; width: 300px; }
.character { width: 720px; left: -47px; top: -190px;}

.hbr{ width: 100px; height: 40px;}
/*.hbr p{ text-indent: -999em; }*/
.hbr .glow_ball{ left:-56px; }
.hbl{ width: 100px; height: 40px; }
/*.hbl p{ text-indent: -999em; }*/
.hbl .glow_ball{ width: 70px; height: 70px; right: -56px; }

.hand_right_2 {    width: 170px;    right: 144px;    top: 400px;}
.hand_right_3 {    width: 157px;    right: 153px;    top: 417px;}
.hand_right_1 {    width: 134px;    right: 172px;    top: 312px;}
.hand_left_2 {    width: 192px;    left: 180px;    top: 398px;}
.hand_left_1 {    width: 146px;    left: 233px;    top: 305px;}
.hand_left_3 {    width: 160px;    left: 200px;   top: 418px;}
.enso {    left: 314px;    top: 269px;    width: 150px;}

   @keyframes updown6 {    0%   { right:51px; top:460px; }    50% { right: 43px; top: 479px; }    100% { right:51px; top: 460px;}}
   @keyframes updown5 {    0%   { right:52px; top:364px; }    50% { right: 42px; top: 383px; }    100% { right:52px; top: 364px;}}
   @keyframes updown4 {    0%   { right:86px; top: 280px; }    50% { right: 68px; top: 299px; }    100% { right:86px; top:280px;}}
   @keyframes updown3 {    0%   { left:95px; top: 463px; }    50% { left: 105px; top: 441px; }    100% { left:95px; top: 463px;}}
   @keyframes updown2 {    0%   { left:84px; top: 359px; }    50% { left: 97px; top: 341px; }    100% { left:84px; top: 359px;}}
 @keyframes updown1 {    0%   { left:142px; top: 279px; }    50% { left: 156px; top: 263px; }    100% { left:142px; top: 279px;}}
    }

@media (max-width: 601px) {
.character{ left: -120px; }

}

@media (max-width: 512px) {

   .hbl, .hbr{ background: none; }
.hbl p, .hbr p{ display: none; }
}

@media screen and (max-width: 480px) {

    .character{ margin: 0 auto; left: auto;}
    .hand_right_2 {    width: 143px;    right: 5px;    top: 445px;}
    .hand_right_3 {    width: 128px;    right: 19px;    top: 458px;}
    .hand_right_1 {    width: 110px;    right: 26px;    top: 373px;}
    .hand_left_2 {    width: 143px;    left: 8px;    top: 445px;}
    .hand_left_3 {    width: 128px;    left: 18px;    top: 454px;}
    .hand_left_1 {    width: 110px;    left: 32px;    top: 373px;}

 .hand_box_right2 {right:-88px; top:416px;   }
.hand_box_right3 {    right: -89px;    top: 484px;}
.hand_box_right1 {    right: -63px;    top: 349px;}
.hand_box_left1 {    left: -60px;    top: 345px;}
.hand_box_left2{    left: -82px;    top: 411px;}
.hand_box_left3{    left: -83px;    top: 478px;}


    @keyframes updown4 {    0%   { right:-63px; top:349px; }    50% { right: -79px; top: 357px; }    100% { right:-63px; top: 349px;}}
    @keyframes updown5 {    0%   { right:-88px; top:416px; }    50% { right: -96px; top: 432px; }    100% { right:-88px; top: 416px;}}
    @keyframes updown6 {    0%   { right:-89px; top:484px; }    50% { right: -92px; top: 502px; }    100% { right:-89px; top: 484px;}}

     @keyframes updown1 {    0%   { left:-60px; top: 345px; }    50% { left: -53px; top: 333px; }    100% { left:-60px; top: 345px;}}
     @keyframes updown2 {    0%   { left:-82px; top: 411px; }    50% { left: -78px; top: 398px; }    100% { left:-82px; top: 411px;}}
    @keyframes updown3 {    0%   { left:-83px; top: 478px; }    50% { left: -79px; top: 465px; }    100% { left:-83px; top: 478px;}}

    .enso {    left: 100px;    top: 342px;    width: 116px;}
    .ch_body{ left: 49px; width: 230px; }
.character{ width: 320px; top: -230px;}

}


@media (max-width: 350px) {.character{ left: -10px; }}
@media (max-width: 320px) {.character{ left: -13px; }}
.character a .hand-text{
    padding:12% 0;
    background-color: #723c8a;
    cursor: pointer;
    background: rgba(81,26,101,.7);
    border-radius: 8px;
    width:0;
color:transparent;
}
